* text=auto

*.tex text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bib text eol=lf
*.latexmkrc text eol=lf
latexmkrc text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.ttf binary
